<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>
                com.optionfusion.backend.apis.OptionDataApi
            </param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.optionfusion.backend.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <servlet>
        <servlet-name>equityLookupDataWorkerServlet</servlet-name>
        <servlet-class>com.optionfusion.backend.admin.PopulateEquityLookupDbWorkerServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>equityLookupDataWorkerServlet</servlet-name>
        <url-pattern>/equitylookupdataworker</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>equityLookupDataWorkerServlet</web-resource-name>
            <url-pattern>/equitylookupdataworker</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <servlet>
        <servlet-name>eodDataWorkerServlet</servlet-name>
        <servlet-class>com.optionfusion.backend.admin.GetEodDataWorkerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eodDataWorkerServlet</servlet-name>
        <url-pattern>/eoddataworker</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>eodDataWorkerServlet</web-resource-name>
            <url-pattern>/eoddataworker</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>