.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.iml
/log*

target
tmp
*~
lib
bin
*/test-output
temp-testng-customsuite.xml
**pom.xml.releaseBackup
local.properties
release.properties
project.properties
*.iws
*.iml
gen
*/seed.txt
notes
logs
gen-external-apklibs
.idea
out
.DS_Store
classes
.classpath
.project
logcat.txt
test-output/*
*/build
build
app/src/main/libs/
app/src/main/obj/

*.prefs

